<form class="form-horizontal" action='' method="POST">
    <fieldset>
        <div id="legend">
            <legend class=""></legend>
        </div>
        <div class="control-group">
            <!-- Username -->
            <label class="control-label"  for="registerUsername">Username</label>
            <div class="controls">
                <input type="text" id="registerUsername" name="registerUsername" placeholder="" class="input-xlarge">
                <p class="help-block">Username can contain any letters or numbers, without spaces</p>
            </div>
        </div>

        <div class="control-group">
            <!-- E-mail -->
            <label class="control-label" for="registerEmail">E-mail</label>
            <div class="controls">
                <input type="text" id="registerEmail" name="registerEmail" placeholder="" class="input-xlarge">
                <p class="help-block">Please provide your E-mail</p>
            </div>
        </div>

        <div class="control-group">
            <!-- Password-->
            <label class="control-label" for="registerPassword">Password</label>
            <div class="controls">
                <input type="password" id="registerPassword" name="registerPassword" placeholder="" class="input-xlarge">
                <p class="help-block">Password should be at least 4 characters</p>
            </div>
        </div>

        <div class="control-group">
            <!-- Password -->
            <label class="control-label"  for="password_confirm">Password (Confirm)</label>
            <div class="controls">
                <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge">
                <p class="help-block">Please confirm password</p>
            </div>
        </div>

        <div class="control-group">
            <!-- Button -->
            <div class="controls">
                <button type="button" name='registerButton' id='registerButton'
                        class="btn btn-success">Register</button>
            </div>
        </div>
    </fieldset>
</form>

<script>
    $(document).ready(function(){
        $('#registerButton').click(function(){
            let username = $('#registerUsername').val();
            let email = $('#registerEmail').val();
            let password = $('#registerPassword').val();
            if( username !== '' && password !== '' && email !== '' )
            {
                $.ajax({
                    url:"/register",
                    method:"POST",
                    data: {username:username, password:password, email:email},
                    success:function(data)
                    {
                        if(data === 'No-data')
                        {
                            alert("Invalid Email Or Password!");
                        }
                        else
                        {
                            $('#registerModal').hide();
                            location.reload();
                        }
                    }
                });
            }
            else
            {
                alert("All Fields are required");
            }
        });
    });
</script>
